* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
  position: center;
  width: 100vw;
}

h1,
p {
  color: white;
  word-wrap: break-word;
}

/*---------------------------------------HEADER STYLE BELOW---------------------------*/

header {
  width: 100vw;
  height: 4%;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 50%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  border-bottom: white 1px solid;
}

a:active {
  color: white;
}

.current {
  border-bottom: white 1px solid;
}

nav {
  display: flex;
  justify-content: right;
}

nav ul {
  display: flex;
  gap: 1rem;
}

ul a {
  text-decoration: none;
}

/*---------------------------------------PAGE CONTENT STYLE BELOW---------------------------*/

.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-section {
  width: 40vw;
  padding: 20px;
}
