/*---------------------------------------GLOBAL STYLE BELOW---------------------------*/

/* A selector that selects all elements, and the body selector selects the body of the html*/
/* box-sizing is set to border-box so that it accounts for the padding and border to any height
a and width values.*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #1e5128;
  font-family: "Arvo", serif;
  font-weight: 100;
  position: center;
}

/*---------------------------------------FONT STYLINGS BELOW---------------------------*/
/* Below are general font styles. Descendent selectors are used to select certain tags, such as the
  h1 element inside the footer container. */

header h1 {
  color: white;
  display: block;
  text-align: center;
}
p {
  color: white;
  word-wrap: break-word;
  font-size: 14px;
}
h1 {
  font-size: 16px;
  color: white;
}
hr {
  width: 50%;
  color: white;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

footer h1 {
  color: black;
}

.index-section h2,
.about-section h2 {
  text-align: center;
  margin-bottom: 5%;
}
h3 {
  text-align: center;
}

/*---------------------------------------HEADER STYLE BELOW---------------------------*/
/* Below are the header styles. The flex display is used to orientate the items. */

header {
  height: 15vh;
  display: flex;
  background-color: #191a19;
  justify-content: center;
}

nav {
  display: block;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
nav ul li,
footer ul li {
  list-style: none;
  color: white;
}

ul a {
  text-decoration: none;
}

/*---------------------------------------LINK STYLE BELOW---------------------------*/

/*****************LINK BEHAVIOR*****************/
<<<<<<< HEAD
/* a link peusoclass is used here to stylize the list items in the navbar, as well as any other
=======
/* link peusoclass is used here to stylize the list items in the navbar, as well as any other
>>>>>>> fa2bce5aa9316db6305971e485a83993fa3042ec
    links that can be stylized as such. The .current class selector is used to stylize the navbar
    list item, so it underlines the page the user is currently on. */

li a:link {
  color: white;
}

li a:visited {
  color: white;
}

li a:hover {
  color: grey;
  border-bottom: white 1px solid;
}

li a:active {
  color: white;
}

.current {
  border-bottom: white 1px solid;
}

/*---------------------------------------PAGE CONTENT STYLE BELOW---------------------------*/
/*This section stylizes the containers that hold the section and articles, as well as the headers*/

.wrapper {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  display: flex;
}

.index-section,
.about-section {
  margin: 5% 0 0 0;
  width: 50vw;
  padding: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
}
article {
  margin: 1vh 0 0 0;
  justify-content: center;
  height: 60vh;
}
article h1 {
  text-align: center;
}

article p,
about-list ul li {
  text-align: center;
  line-height: 200%;
  letter-spacing: 1.1px;
}

article img {
  border-radius: 50%;
  align-items: center;
  margin: auto;
  display: block;
  margin-bottom: 5%;
}

/*---------------------------------------FOOTER STYLE BELOW---------------------------*/
/* Footer, footer name (h3), footer link icons, as well as an icon container are stylized below*/
footer {
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e9a8;
  position: fixed;
  bottom: 5px;
  font-size: 0.5em;
}

footer h3 {
  color: black;
  font-size: 1.6em;
}

.linkedin-icon {
  width: 3.6em;
  color: red;
  display: flex;
  align-items: right;
}
.github-icon {
  width: 6em;
  display: flex;
}

.footer-icon-list {
  display: flex;
  align-items: right;
  margin-left: 20em;
  align-items: center;
  gap: 2em;
}

/*---------------------------------------CONTACT PAGE STYLE BELOW---------------------------*/
/* This stylizes the ordered list for the contacts for the contact page */

.contact-list li {
  margin-bottom: 4%;
  text-align: left;
  width: 10%;
  margin: auto;
  margin-top: 5%;
}

/*---------------------------------------ABOUT PAGE STYLE BELOW---------------------------*/
/* This stylizes the unordered list for the about me information for the about page */
/* Additionally there is a link within the ordered list that must be stylized so it sticks out */

.about-list li {
  margin: 0 0 5% 0;
}

.contact-link {
  text-decoration: underline;
}
